{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}


<div class = "container-fluid">
  <div class = "row-content">

    <div class = "col-sm-6">

      <div class="w3-card-8" style="width:80%; margin-left: 55%; margin-top:20%; box-shadow: -2px 2px 10px 2px;">
      <header class="w3-container" style = "background-color: #2c2c30; color:white;">
        <h1>Reset your password</h1>
      </header>
      <p>Enter your email address and we will send you a link to reset your password.</p>
<center>
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Send password reset email</button>
      </form>
      <p>&nbsp;</p>
      </center>
    </div>

    </div>
    </div>
    </div>








{% endblock %}
