{% extends 'base.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}


<div class = "container-fluid">
  <div class = "row-content">

    <div class = "col-sm-6">

      <div class="w3-card-8" style="width:80%; margin-left: 55%; margin-top:20%; box-shadow: -2px 2px 10px 2px;">
        <header class="w3-container" style = "background-color: #2c2c30; color:white;">
          <h1>Reset your password</h1>
        </header>
      <h4 style = "color:green;">
        An email has been sent with the link. Click on the link to reset your password. If it does not appear within a few minutes than enter a valid email address.
      </h4>
      <hr>
      <center>
      <a href = "{% url 'login' %}" class = "btn btn-success">Return to login</a>
      </center>
<p>&nbsp;</p>
</div>
</div>
</div>
</div>



{% endblock %}
