{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}



  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card" style = "width: 80%;border: 1px solid black;margin-left: 55%; margin-top:20%; box-shadow: -2px 2px 10px 2px;">
        <div class="card-body">
          {% if validlink %}
          <header class="w3-container" style = "background-color: #2c2c30; color:white;">
            <h3 class="card-title">Change password for @{{ form.user.username }}</h3>

          </header>

            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <center>
              <button type="submit" class="btn btn-success">Change password</button>
              </center>
            </form>
          {% else %}
            <h3 class="card-title">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
